@font-face {font-family: Pusab; src: url(/gdeditor/assets/fonts/Pusab.ttf)}

html {
  background-image: linear-gradient(#ffffff, #bbbbbb);
  background-attachment: fixed;
}

div#diffSelector {
  background-color: #00000066;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 0px 16px;
}

button {
  font-family: 'Pusab';
  font-size: 35px;
  background-color: #995533;
  color: #ffffff;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 2.3px 2.3px 1.5px #00000050;
  border-image: url(/gdeditor/assets/btn_green.png) 16% round;
  border-width: 15px;
  border-radius: 15px;
  padding: 4px 32px;
  cursor: pointer;
}
