html {
  background-image: linear-gradient(#ffffff, #bbbbbb);
  background-attachment: fixed;
}

div#diffSelector {
  background-color: #00000066;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 0px 16px;
}

class.diffIcon {
  transform: scale(0.4);
  margin: -30px;
}
