@font-face {font-family: Pusab; src: url(/gdeditor/assets/fonts/Pusab.ttf)}

html {
  background-image: linear-gradient(#616161, #373737);
  background-attachment: fixed;
}

p {
  font-family: 'Pusab';
  font-size: 40px;
  color: #ffffff;
  -webkit-text-stroke: 1.7px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 2.3px 2.3px 1.5px #00000050;
}

span.helvetica {
  font-family: Helvetica;
  font-size: 24px;
  color: #ffffff;
  -webkit-text-stroke: 0;
  text-shadow: none;
}

a {
  color: #00ffff;
  text-decoration: none;
  -webkit-text-stroke-color: #000000;
}

div#brownbox {
  border-width: 20px;
  border-style: solid;
  border-radius: 30px;
  background-color: var(--gdbrown);
  border-image: url(/gdeditor/assets/brownbox.png) 12% round;
  padding: 0px 128px 24px;
  display: grid;
  justify-items: center;
  z-index: -1;
}

div#diffSelector {
  background-color: #00000066;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 100px;
  padding: 0 8px;
  border-radius: 16px;
}

.fadedBox {
  border: 0 solid transparent;
  border-radius: 2vh;
  background-color: #0000004d;
  outline: none;
  padding: 6px;
}

button {
  font-family: 'Pusab';
  font-size: 35px;
  background-color: #7ade2d;
  color: #ffffff;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 2.3px 2.3px 1.5px #00000050;
  border-image: url(/gdeditor/assets/btn_green.png) 16% round;
  border-width: 15px;
  border-radius: 15px;
  padding: 2px 12px;
  cursor: pointer;
}

input {
  border: 0 solid transparent;
  border-radius: 2vh;
  background-color: #0000004d;
  font-family: Pusab;
  font-size: 30px;
  -webkit-text-stroke: 1.2px;
  -webkit-text-stroke-color: #000000;
  color: #ffffff;
  text-shadow: 2.3px 2.3px 1.5px #00000050;
  text-align: center;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
}

::placeholder {
  color: #6F98D8;
  font-size: 27px;
}
